*{
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/cook-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  list-style: none;
}
.general__continer{
  background: white;
  width: 500px;
  height: auto;
}
.header__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0px 0px 30px;
  border-bottom: 1px solid #4a90e2;
}
.header__container p {
  margin: 0;
}
.ingredients {
  text-transform: uppercase;
  font-size: 12px;
  color: grey;
}
.title {
  margin: 0;
  margin-bottom: 10px;
}
.selects {
  color: #4a90e2;
  margin-bottom: 5px;
}
.select__all {
  cursor: pointer;
}
.unselect__all {
  cursor: pointer;
}
.list__container{
  overflow : auto;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
}
.ingredients__list{
  margin-top: 220px;
  padding-left: 5px;
  width: 450px;
}
.item {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.checkbox {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.checkbox__input {
  height: 30px;
  width: 30px;
  background-color: white;
  border: 1px solid grey;
}

.quantity__input {
  margin: 15px;
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  text-align: center;
  color: blue;
  border-style: inset;
  border-radius: 5px;
}
.descripcion__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.descripcion__container p {
  margin: 0;
}
.product{
  font-weight: 700;
}
.brand {
  font-size: 12px;
  color: grey;
}
.quantity {
  font-size: 12px;
}
.price__title{
  color: green;
  font-weight: 700;
}
.pay__container{
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-top: 1px solid gray;
}
.buy__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.subtotal__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}
.shipping__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}
.total__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}
.button__container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy__button {
  background-color: green;
  border-radius: 10px;
  border-style: none;
  height: 50px;
  color: white;
  font-size: 1.5em;

}
